<div class="col-md-3 col-sm-6">
    <div class="product-grid9">
        <div class="product-image9">
            <a href="#">
                <img class="pic-1" src={{image1}}>
                <img class="pic-2" src={{image2}}>
            </a>
            <a href="#" class="fa fa-search product-full-view"></a>
        </div>
        <div class="product-content">

            <ul class="rating">
                <li class="fa fa-star {{#iflt rating 1}}disable{{/iflt}}"></li>
                <li class="fa fa-star {{#iflt rating 2}}disable{{/iflt}}"></li>
                <li class="fa fa-star {{#iflt rating 3}}disable{{/iflt}}"></li>
                <li class="fa fa-star {{#iflt rating 4}}disable{{/iflt}}"></li>
                <li class="fa fa-star {{#iflt rating 5}}disable{{/iflt}}"></li>
            </ul>
            <h3 class="title"><a href="#">{{name}}</a></h3>
            <div class="price">{{price}}</div>
            <a class="add-to-cart" href={{url}}>VIEW PRODUCT</a>
        </div>
    </div>
</div>
